body {
    background: url(../images/pexels-photo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Unica One', cursive;
    font-family: 'Oswald', sans-serif;
}

#container {
    width: 700px;
    margin: 20px auto;
    padding: 0;
    background: url(../images/)
}

header {
    color: darkgray;
    text-align: center;
    background-color: white;
    

}

.button {
    width: 47.5%;
    background-color: aqua;
    display: inline-block;
    cursor: pointer;
    float:left;
    margin-top: 20px;
    
}

.button:first-child {
    margin-right: 5%;
}

.button:hover{
    position: relative;
    bottom: 5px;
}