body {
    background: url(../images/pexels-photo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /* font-family: 'Unica One', cursive; */
    font-family: 'Oswald', sans-serif;
}



#container {
    width: 700px;
    margin: 20px auto;
    padding: 0;
    background: url(../images/)
}

header {
    color: black;
    text-align: center;
    background-color: white;
    padding: 40px;
    

}

.button {
    width: 47.5%;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    float:left;
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    
}

.button:first-child {
    margin-right: 5%;
}


.os{
    text-align: center
}

h1 {
    font-size: 60px;
    color: black;
    border-bottom: 5px solid black;
    display: inline-block;
    margin: 50px;
    
}


