.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

body {
    background-image: url(../images/MotherBoardBackground.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Unica One', cursive; */
    font-family: 'Oswald', sans-serif;
}



#container {
    width: 700px;
    margin: 50px auto;
    padding: 0;
    background: url(../images/)
}

header {
    color: white;
    text-align: center;
    line-height: 1.5;
    background-color: none;
    padding: 20px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;

}

header img{
    height: 300px;
}

.button {
    width: 47.5%;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    float:left;
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    color: #81B8CC;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgba(129,184,204,1);
    
    
}

.button:first-child {
    margin-right: 5%;
}


.button:hover, .button.active {
    background-color: #81B8CC;
    color:white;
    box-shadow: 5px 5px 0px 0px #FFFFFF;
}

.os{
    text-align: center;
    line-height: 1.5;
    max-height: 0;
    overflow-y: hidden;
    width: 100%;
    transition: max-height 0.1s;
    color:white;
    font-weight: 300;
    
}

.os.active{
    max-height: 3000px;
    transition: max-height 4s;
}

h1 {
    font-size: 60px;
    color: white;
    border-bottom: 5px solid white;
    display: inline-block;
    margin: 50px;
    font-weight: 400;
    
}

li {
    text-align: left;
    
}

li .infotop {
    margin-top: 40px;
}

li .infotop p {
    display: inline-block;
    float: left;
    width: 500px;
    
    
}

li .infotop img {
    width: 200px;
    height: 200px;
    float: left;
}

.infolow {
    margin-top: 20px;
}


li .infolow img {
    width: 390px;
    float:left;
    margin-left: 10px;
    
}

li .infolow .procons {
    width: 300px;
    float:left;
}


li .infolow .procons ol {
    list-style: disc;
    margin-left: 30px
}

body>i.fa {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    font-size: 50px;
    cursor: pointer;
    background-color: #81B8CC;
    padding: 0 10px 7px 10px;
    border-radius: 20px;
    box-shadow: 2px -2px 106px 14px rgba(0,0,0,0.35);
    display: none;
}

body>i.fa:hover {
    color: #81B8CC;
    background-color: white;
}

ol {
    font-family: 'Ubuntu', sans-serif;
}

.credits{
    text-align: center;
    margin-top: 50px;
}